.book-list-container {
    padding-left: 10%;
    padding-right: 10%;
}
.book-list-heading {
    text-align: center;
}
.book-list-container-element {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.book-item {
    border: 1px solid #ffe300;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
}
@media (min-width: 768px){
    .book-item {
        width: 30%;
    }
}
.book-image {
    align-self: center;
    width: 70%;
}
.book-heading {
    font-size: 15px;
    font-weight: 500;
}
.book-price {
    font-size: 12px;
}
.book-link-item {
    text-decoration: none;
    color: #000000;
}
.book-button {
    background-color: #ffe300;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    align-self: flex-end;
    font-weight: 500;
}