.home-small-background {
    background-image: url('https://res.cloudinary.com/dksovm4dg/image/upload/v1719236178/books_freepik_image_gbm7fj.avif');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
    padding: 30px;
}
@media (min-width: 768px) {
    .home-small-background {
        background-image: none;
        padding-left: 10%;
        padding-right: 10%;
    }
}
.home-image {
    display: none;
}
@media (min-width: 768px) {
    .home-image {
        display: inline;
        width: 50%;
    }
    .home-text {
        margin-top: 100px;
    }
    .home-heading {
        font-size: 30px;
    }
    .home-description {
        font-size: 20px;
    }
}
.home-button {
    background-color: #ffe300;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
}
@media (min-width: 768px) {
    .home-button {
        font-size: 20px;
    }
}